<header class="main-header">
    <nav class="main-header-nav">
        <button class="toggle-btn" aria-label="toggle navigation">
            <span class="icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
        <ul class="main-header-item-list navlist">
           
            <li class="main-header-item"><a class="<%= path === '/' ? 'active':''%>" href="/">Home</a></li>
            <li class="main-header-item"><a class="<%= path === '/products' ? 'active':''%>" href="/products">Books</a></li>
            <% if(isAuthenticated) {%>
            <li class="main-header-item"><a class="<%= path === '/orders' ? 'active':''%>" href="/orders">orders</a></li>
            <li class="main-header-item"><a class="<%= path === '/cart' ? 'active':''%>" href="/cart">cart</a></li>
            <li class="main-header-item"><a class="<%= path === '/checkout' ? 'active':''%>" href="/checkout">checkout</a></li>
            <li class="main-header-item"><a class="<%= path === '/add-product' ? 'active':''%>" href="/add-product">add book</a></li>
            <li class="main-header-item"><a class="<%= path === '/admin-products' ? 'active':''%>" href="/admin-products">admin books</a></li>
            <% }%>
        </ul>
        
        <ul class="main-header-item-list">
            <% if(!isAuthenticated) {%>

            <li class="main-header-item"><a class="<%= path === '/login' ? 'active':''%>" href="/login">login</a></li>
            <li class="main-header-item"><a class="<%= path === '/signup' ? 'active':''%>" href="/signup">signup</a></li>
            <% } else {%>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf"  value="<%= csrfToken %>">
                    <button class="logoutbtn" type="submit">logout</button>
                </form>
            <% }%>


        </ul>
<script src="navtoggle.js"></script>
    </nav>
    </header>